:root {
  --sans: system-ui, -apple-system, BlinkMacSystemFont, "PingFang SC", Helvetica, sans-serif;
  --serif: xui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --btn-color: #e8e8e8;
  --bg: #fffefd;
  --font-color: #222;
}

/* darkmode */
@media (prefers-color-scheme: dark) {
   :root {
    --bg: #222;
    --font-color: #fafafa;
    --btn-color: #888;
  } 
}

/* normalize */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: color .3s, background .3s, border-color .3s;
}

html {
  font-family: var(--sans);
  line-height: 1.5;
  font-size: 16px;
  background: var(--bg);
  color: var(--font-color);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
}

a {
  color: var(--font-color);
}

hr {
  margin: 3rem 40%;
  border: none;
  border-top: 2px solid var(--font-color);
  opacity: .1;
}

.container {
  margin: 3rem auto 6rem;
  padding: 0 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
}

.article {
  max-width: 62ch;
  transition: opacity .3s;
  flex: 1;
}

.article p,
.article h1 {
  margin: 0;
  padding: 0.65rem 1.25rem;
}

.article span {
  font-size: 0.825rem;
  opacity: .5;
  padding: 1ch;
}

.source {
  display: block;
  margin: 1.25rem;
  font-size: .825rem;
  text-align: center;
  opacity: .3;
}

/* focus & highlight */
.container .article * {
  transition: opacity .3s;
}

.container.focus .article>* {
  opacity: .3;
}

.container .article .highlight {
  opacity: 1;
}

/* reverse */
.container.reverse {
  flex-direction: row-reverse;
}

/* focus btn */
.btn-group {
  position: fixed;
  top: 3rem;
  right: 2rem;
  display: grid;
  row-gap: 1rem;
  justify-items: center;
}

.btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  width: 1.25rem;
  height: 1.6rem;
  outline: none;
}

.btn-focus {
  border: 1px solid var(--btn-color);
  transition: color .3s;
}

.btn-focus:after {
  display: block;
  width: 60%;
  height: 2px;
  background: var(--font-color);
  content: '';
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity .3s;
}

.btn-focus:checked::after {
  opacity: 0.8;
}

.btn-switch {
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
}

.btn-switch::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: var(--bg);
}

.btn-switch:checked::before {
  transform: translateX(100%);
}